@use "../base/colors"as *;
@use "../base/mixins"as *;
@use "../base/typography"as *;
@use "../global/animations"as *;
@use "../util/functions"as *;

.preloader {
    @include flex(center, center);
    @include apply-bg-color(pure-black);
    height    : 100%;
    inset     : 0;
    opacity   : 0; // lembrar de remover quando for usar o loader
    position  : fixed;
    transition: all .3s ease-in-out;
    width     : 100%;
    visibility: hidden; // lembrar de remover quando for usar o loader
    z-index   : 999999;
}

.preloader-disabled {
    display   : none;
    opacity   : 0;
    visibility: hidden;
}

.loader {
    position: relative;

    &::before,
    &::after {
        @include rounded(130px, 130px);
        @include loader-effect();
        animation: loader 3s linear infinite;
        content  : "";
        color    : white;
        border   : 1px solid #0060fa;
        position : absolute;
    }

    &::after {
        animation-delay: 1s;
        opacity        : 0;
    }
}