@use "../util/functions"as *;
@use "../base/typography"as *;
@use "../base/colors"as *;
@use "../base/mixins"as *;
@use "../global/responsive"as *;

.accordion {
    padding: 0 px-to-rem(12);

    &-item {
        border-radius: px-to-rem(5);
        margin-bottom: px-to-rem(20);
        overflow     : hidden;

    }

    &-header {
        border-radius: 5px;
        margin-bottom: 0;
        overflow     : hidden;
    }

    &-button {
        @include flex(center, space-between, 0);
        @include russo-one-regular();
        border       : 1px solid rgba(255, 255, 255, 0.05);
        border-radius: 5px;
        background   : get-color("pure-black");
        color        : get-color("pure-white");
        cursor       : pointer;
        font-size    : get-font-size(20);
        padding      : px-to-rem(20);
        position     : relative;
        text-align   : left;
        transition   : all .3s ease-in-out;
        width        : 100%;

        @include hover {
            color: get-color("sky-blue");

            &::after {
                color: get-color("sky-blue");
            }
        }

        @include devices-large-screens() {
            font-size: get-font-size(22);
            padding  : px-to-rem(30);
        }

        @include devices(t) {
            font-size: get-font-size(20);
            padding  : px-to-rem(20);
        }

        &::before {
            @include flex(center, center, 0);
            border       : 1px solid rgba(255, 255, 255, 0.05);
            border-radius: 50px;
            content      : "";
            height       : 40px;
            margin-top   : -22px;
            position     : absolute;
            right        : 10px;
            top          : 50%;
            width        : 40px;
        }

        &::after {
            @include flex(center, center, 0);
            background    : inherit;
            border        : 1px solid rgba(255, 255, 255, 0.05);
            border-radius : 50px;
            content       : "\2b";
            font-size     : get-font-size(18);
            font-family   : 'Font Awesome 5 Free';
            font-weight   : 600;
            height        : 40px;
            margin-top    : -19px;
            padding-bottom: 3px;
            position      : absolute;
            right         : 10px;
            top           : 50%;
            width         : 40px;
        }

        &:focus {
            border-color: get-color("sky-blue");
            box-shadow  : inherit;
        }
    }

    &-title {
        margin-right: 20px;

        @include devices-large-screens {
            margin-right: 30px;
        }
    }

    &-body {
        @include apply-bg-color("pure-black");
        color     : rgb(212, 214, 215);
        display   : none;
        max-height: 0;
        opacity   : 0;
        overflow  : hidden;
        padding   : px-to-rem(30) px-to-rem(10);
        transition: all .3s ease-in-out;
    }
}

.accordion-button.collapsed {
    border-image    : linear-gradient(to right, #3663D8, #77BEFF) 1;
    background-color: #77BEFF;
    background      : linear-gradient(170deg, #3663D8 0%, #77BEFF 100%);
    box-shadow      : inherit;
    outline         : inherit;

    &::after {
        //background-image: inherit;
        border-color    : rgba(255, 255, 255, 0.015);
        color           : get-color("pure-white");
        content         : "\f068";
        font-family     : 'Font Awesome 5 Free';
        transform       : inherit;
    }

    &::before {
        border-color: rgba(255, 255, 255, 0.15);
    }

    .accordion-body {
        display   : block;
        max-height: 100px;
        opacity   : 1;
        overflow  : visible;
    }
}