@use "../util/functions"as *;
@use "../global/responsive"as *;
@use "../util/prefixes"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;
@use "../base/colors"as *;

.main-content {
    overflow   : hidden;
    padding-top: px-to-rem(150);
    width      : 100%;

    @include devices-large-screens {
        padding-top: px-to-rem(250);
    }
}

.banner-inner {
    padding-bottom: px-to-rem(120);
    position      : relative;
}

.banner-img {
    height    : 100%;
    max-width : 100%;
    object-fit: cover;
    position  : absolute;
    right     : -10px;
    top       : 0;
    width     : 950px;
    z-index   : 1;

    @include devices(xs) {
        display: none;
    }
}

.main-banner-content {
    padding : 1rem 2%;
    position: relative;
    z-index : 2;
}

.main-title {
    font-size  : get-font-size(140);
    line-height: px-to-rem(150);

    @include devices(l) {
        font-size  : get-font-size(85);
        line-height: px-to-rem(95);
    }

    @include devices(t) {
        font-size  : get-font-size(62);
        line-height: px-to-rem(72);
    }

    @include devices(m) {
        font-size  : get-font-size(44);
        line-height: px-to-rem(40);
    }

    @include devices(xs) {
        font-size  : get-font-size(44);
        line-height: px-to-rem(40);
    }
}

.main-text {
    @include flex(center, start, 1rem);
    flex-wrap    : wrap;
    margin-bottom: px-to-rem(30);

    @include devices-large-screens() {
        margin-bottom: px-to-rem(60);
        gap          : 2rem;
    }

    @include devices(m) {
        gap: 0;

        .main-description {
            order: 1;
        }
    }

    @include devices(xs) {
        gap: 0;

        .main-description {
            order: 1;
        }
    }

    @include mobile-landscape {

        .main-title {
            flex-basis: 100%;
        }

        .main-description {
            margin-top: 0;
        }
    }
}

.main-description {
    max-width : 400px;
    margin-top: px-to-rem(20);
    width     : 100%;

    @include devices-large-screens {
        max-width: 450px;
    }

    @include devices(m) {
        margin-top: 0;
    }
}

.main-text {
    @include apply-color(light-silver);
}

.main-info {
    @include flex(center, start, 2rem);
    flex-wrap: wrap;
    width    : 100%;

    @include devices-large-screens {
        gap: 6rem;
    }
}