@use "../util/functions"as *;
@use "../global/responsive"as *;
@use "../base/mixins"as *;
@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../util/prefixes"as *;
@use "../global/animations"as *;

/** section about */
.about {
    .about-content {
        display              : grid;
        grid-template-columns: 1fr;
        gap                  : px-to-rem(32);
        margin-top           : px-to-rem(50);

        @include devices-large-screens {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &-row {
        width: 100%;

        &:nth-child(2) {
            display              : grid;
            grid-template-columns: 1fr;
            gap                  : px-to-rem(16);

            @include devices-large-screens {
                grid-column          : 2 / -1;
                grid-template-columns: 1fr 1fr;
            }

            @include devices(t) {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

.about-image {
    padding-right: px-to-rem(40);

    img {
        border-radius: 10px;
        height       : auto;
        object-fit   : cover;
        max-width    : 100%;
    }
}

.about-details {
    @include flex(start, space-around, 30px);
    flex-direction: column;
    padding       : px-to-rem(40) px-to-rem(12) 0;

    @include devices-large-screens {
        padding-top: px-to-rem(80);
    }

    @include ipad-2-landscape() {
        padding-top: px-to-rem(20);
    }

    @include devices(l) {
        padding-top: px-to-rem(40);
    }
}

.about-reviews {
    padding-right: 0;

    @include devices-large-screens {
        padding-right: px-to-rem(40);
    }

    p {
        @include font-primary();
        @include flex(start, start, 10px);
        color      : get-color(light-silver);
        font-weight: 500;
        line-height: normal;

        span {
            &:first-of-type {
                flex-shrink: 0;
            }

            i {
                color: get-color(solar-gold);
            }

            a {
                @include prefix(background-clip, text);
                @include prefix(text-fill-color, transparent);
                background-image: linear-gradient(60deg, #3663D8 -20%, #77BEFF 100%);
                transition      : .3s ease-in-out;

                @include hover() {
                    opacity: .5;
                }
            }
        }
    }
}

.about-list {
    @include flex(start, start, 12px);
    flex-direction: column;
    margin-left   : 0;

    @include devices-large-screens() {
        margin-left: px-to-rem(195);
    }

    @include ipad-2-landscape() {
        margin-left: 0
    }

    @include devices(l) {
        margin-left: 0
    }

    li {
        @include flex(baseline, start, 12px);
        font-weight  : 400;
        margin-bottom: 10px;
        transition   : all .3s ease-in-out;

        img {
            height: 15px;
            width : 15px;
        }
    }
}

.about-contact {
    @include flex(start, center, 30px);
    flex-direction: column;
    position      : relative;

    @include devices-large-screens() {
        align-items: center;
    }
}

.history {
    @include apply-bg-color(pure-black);
    padding: px-to-rem(70) 0;

    @include devices-large-screens {
        padding-top: px-to-rem(150);
    }

    @include devices(t) {
        padding-top: px-to-rem(90);
    }

    &-content {
        display              : grid;
        grid-template-columns: 1fr;
        padding              : 0 1rem;

        @include devices-large-screens {
            grid-template-columns: 1fr 1fr;
        }
    }

    &-col {
        padding: 0 px-to-rem(12);
    }

    &-wrapper {
        border       : 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        position     : relative;
        padding      : 1rem;

        @include devices-large-screens {
            padding: px-to-rem(60) px-to-rem(50);
        }

        span {
            @include russo-one-regular();
        }
    }

    &-year-sm {
        background             : linear-gradient(160deg, #3663D8 0%, #77BEFF 20%, #00D1FF 100%);
        background-clip        : text;
        font-size              : get-font-size(32);
        margin-bottom          : px-to-rem(32);
        -webkit-text-fill-color: transparent;
        @include prefix(background-clip, text);
    }

    &-info {
        display: flex;
        gap    : px-to-rem(30);

        @include devices(m) {
            flex-direction: column;
        }

        @include devices(xs) {
            flex-direction: column;
        }
    }

    &-year-lg {
        align-self         : center;
        color              : transparent;
        font-size          : get-font-size(80);
        line-height        : normal;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);

        @include devices-large-screens {
            font-size   : get-font-size(110);
            transform   : scale(-1);
            writing-mode: vertical-lr;
        }

        @include devices(t) {
            font-size   : get-font-size(110);
            transform   : scale(-1);
            writing-mode: vertical-lr;
        }
    }

    &-description {

        blockquote {
            border-left : 5px solid get-color(sky-blue);
            box-shadow  : 0 5px 30px rgba(0, 0, 0, 0.05);
            margin      : px-to-rem(20) 0;
            padding-left: px-to-rem(15);
        }
    }
}

/** End section about */

/** start section services*/
.space {
    overflow: hidden;
    padding : px-to-rem(50) 0;
    width   : 100%;

    @include devices-large-screens {
        padding: px-to-rem(150) 0;
    }

    @include devices(t) {
        padding: px-to-rem(90) 0;
    }
}

.marquee-wrapper {
    overflow  : hidden;
    padding   : 0 2%;
    position  : relative;
    transition: all 0.3s ease-in-out;
    width     : 100%;
}

.marquee-inner {
    align-items: center;
    display    : flex;
    gap        : px-to-rem(40);
    position   : relative;
    white-space: nowwrap;
    will-change: transform;
    width      : 100%;
}

.marquee-item {
    align-items   : center;
    display       : flex;
    flex          : 0 0 auto;
    gap           : 15px;
    padding-bottom: 1px;
}

.marquee-icon {
    height    : 50px;
    font-size : 42px;
    text-align: center;
    width     : 50px;

    i {
        background             : linear-gradient(160deg, #3663D8 0%, #77BEFF 20%, #00D1FF 100%);
        background-clip        : text;
        -webkit-text-fill-color: transparent;
        @include prefix(background-clip, text);
    }
}

.marquee-title {
    @include russo-one-regular();
    color              : transparent;
    font-size          : get-font-size(42);
    line-height        : normal;
    position           : relative;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
    top                : 3px;
    transition         : all .3s ease-in-out;

    @include hover {
        color: get-color(pure-white);
    }

    @include devices-small-screens {
        font-size: get-font-size(32);
    }
}

// Finalizar animação do marquee

.services {
    padding-bottom: px-to-rem(60);

    &-content {
        display              : grid;
        grid-template-columns: 1fr;
        gap                  : 1rem;

        @include devices-large-screens {
            grid-template-columns: repeat(4, 1fr);
        }

        @include devices(l) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include devices(t) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.services-col {
    padding: 0 px-to-rem(14);
}

.services-col-1 {
    grid-column   : 1/span;
    padding-bottom: 2rem;

    @include devices-large-screens {
        grid-column: 1/3;
    }

    @include devices(t) {
        grid-column: 1/3;
    }

    .paragraph {
        @include devices-large-screens {
            margin-left: 3rem;
        }
    }
}

.service-wrapper {
    @include apply-bg-color(pure-black);
    border       : 1px solid rgba(255, 255, 255, 0.05);
    border-radius: px-to-rem(10);
    height       : 100%;
    padding      : px-to-rem(60) px-to-rem(40);
    position     : relative;
    transition   : all 0.3s ease-in-out;
}

.service-card {
    &::before {
        background   : linear-gradient(130deg, #3663D8, #77BEFF, #00D1FF) 100%;
        border-radius: inherit;
        content      : "";
        inset        : 0;
        margin       : -3px;
        opacity      : 0;
        position     : absolute;
        transition   : all .3s ease-in-out;
        z-index      : -1;
    }

    @include hover {
        &::before {
            opacity: 1;
        }

        .service-icon {
            margin-top: -70px;
            opacity   : 0;
        }

        .service-bg-icon {
            opacity: 0.2;
        }

        .service-links {
            margin-bottom: 0;
            opacity      : 1;
        }
    }
}

.service-inner {
    padding   : 0 0 4px 4px;
    overflow  : hidden;
    transition: all .3s ease-in-out;
}

.service-icon {
    margin-bottom: px-to-rem(20);
    height       : 60px;
    opacity      : 1;
    transition   : all 0.3s ease-in-out;
    width        : 60px;

    i {
        color    : rgba(255, 255, 255, 0.2);
        font-size: get-font-size(60);
    }
}

.service-bg-icon {
    bottom    : 20px;
    height    : 60px;
    opacity   : 0;
    position  : absolute;
    right     : 20px;
    transition: all 0.3s ease-in-out;
    width     : 60px;

    i {
        font-size              : get-font-size(60);
        background             : linear-gradient(160deg, #3663D8 0%, #77BEFF 20%, #00D1FF 100%);
        background-clip        : text;
        -webkit-text-fill-color: transparent;
        @include prefix(background-clip, text);
    }
}

.service-title {
    font-size    : px-to-rem(26);
    margin-bottom: px-to-rem(20);
}

.service-links {
    margin-top   : px-to-rem(20);
    margin-bottom: -70px;
    opacity      : 1;
    transition   : all .3s ease-in-out;
}

.cases-studios {
    @include apply-bg-color(pure-black);
    padding-bottom: px-to-rem(60);
    width         : 100%;
}

.cases-container {
    padding: px-to-rem(12);
}

.cases-row {
    display: flex;
    gap    : px-to-rem(30);
    padding: 0 px-to-rem(30);

    @include devices(m) {
        gap      : px-to-rem(24);
        flex-wrap: wrap;
        padding  : 0;
    }

    @include devices(xs) {
        gap      : px-to-rem(24);
        flex-wrap: wrap;
        padding  : 0;
    }
}

.case-studies-wrapper {
    border-radius: px-to-rem(20);
    flex         : 1 1 0%;
    height       : 800px;
    overflow     : hidden;
    position     : relative;
    transition   : all .8s ease-in-out;

    @include devices(l) {
        height: 650px;
    }

    @include devices(t) {
        height: 550px;
    }

    @include devices(m) {
        flex      : 0 1 100%;
        max-height: 500px;
    }

    @include devices(xs) {
        flex      : 0 1 100%;
        max-height: 500px;
    }

    @include mobile-landscape {
        flex : 0 1 auto;
        width: calc(50% - 12px);
    }
}

.case-studies-img {
    border-radius: px-to-rem(20);
    height       : 100%;
    overflow     : hidden;

    img {
        background-repeat  : no-repeat;
        background-position: center center;
        background-size    : cover;
        height             : 100%;
        object-fit         : cover;
        transition         : all .5s ease-in-out;
        transition-delay   : 250ms;

        @include hover {
            transform: scale(1.1);
        }
    }
}

.case-studies-category {
    @include apply-color(pure-white);
    border-radius: 80%;
    opacity      : 1;
    position     : absolute;
    padding      : px-to-rem(9) px-to-rem(37);
    right        : px-to-rem(35);
    top          : px-to-rem(15);
    transition   : all .3s ease-in-out;
    visibility   : visible;

    @include devices-large-screens() {
        top    : px-to-rem(30);
        opacity: 0;
    }

    &::before,
    &::after {
        border       : 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 80%;
        content      : "";
        height       : 100%;
        position     : absolute;
        transition   : all .3s ease-in-out;
        width        : 100%;
        z-index      : 2;
    }

    &::before {
        right: -5px;
        top  : -2px;
    }

    &::after {
        bottom: -2px;
        left  : -5px;
    }
}

.case-studies-info {
    align-items     : start;
    display         : flex;
    flex-direction  : column;
    justify-content : flex-end;
    inset           : 0;
    padding         : px-to-rem(40) px-to-rem(30);
    position        : absolute;
    transition      : all .5s ease-in-out;
    transition-delay: 250ms;
    z-index         : 1;
    visibility      : hidden;

    &::before {
        align-items    : start;
        background     : linear-gradient(180deg, rgba(0, 56, 255, 0) 40%, rgba(0, 56, 255, 0.5) 80%);
        border-radius  : px-to-rem(20);
        content        : "";
        display        : flex;
        flex-direction : column;
        inset          : 0;
        justify-content: flex-end;
        opacity        : 1;
        overflow       : hidden;
        padding        : 40px;
        position       : absolute;
        transition     : all .3s ease-in-out;
    }

    @include devices-small-screens() {
        padding: px-to-rem(20) px-to-rem(15);
    }

    @include devices-mobile {
        &::before {
            background: linear-gradient(180deg, rgba(0, 56, 255, 0) 40%, rgba(0, 56, 255, 0.5) 80%);
            opacity   : 1;
            visibility: visible;
        }
    }
}

.case-studies-info-inner {
    opacity   : 0;
    position  : relative;
    text-align: left;
    z-index   : 1;
    visibility: hidden;

    @include devices-mobile() {
        opacity   : 1;
        visibility: visible;
    }
}

.case-studies-title {
    font-size    : get-font-size(42);
    margin-bottom: px-to-rem(20);
    transition   : all 0.3s ease-in-out;

    @include devices(t) {
        font-size: get-font-size(36);
    }

    @include devices(m) {
        font-size: get-font-size(28);
    }

    @include devices(xs) {
        font-size: get-font-size(28);
    }
}

.case-studies-desc {
    margin-bottom: px-to-rem(20);
    transition   : all 0.4s ease-in-out;

    p {
        display           : -webkit-box;
        line-clamp        : 2;
        margin-bottom     : px-to-rem(20);
        overflow          : hidden;
        text-overflow     : ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.case-studies-active {

    @include devices-large-screens {
        flex-grow: 3.3;
    }

    @include devices(t) {
        flex: 3 1 0%;
    }

    .case-studies-category {
        color     : get-color(sky-blue);
        opacity   : 1;
        visibility: visible;

        &::before,
        &::after {
            border-color: get-color(sky-blue);
        }
    }

    .case-studies-info {
        opacity   : 1;
        visibility: visible;
    }

    .case-studies-info-inner {
        opacity   : 1;
        visibility: visible;
    }
}

.cases-studios-button {
    display        : flex;
    justify-content: center;
    padding-top    : px-to-rem(70);

    @include devices-mobile() {
        padding-top: px-to-rem(40);
    }
}

.testimonial {
    @include apply-bg-color(pure-black);
    padding-bottom: px-to-rem(60);
    width         : 100%;
}

.testimonial-container {
    @include flex(start, flex-start, 0);
    flex-wrap: wrap;
    padding  : 0 2%;
    width    : 100%;

    .owl-item {
        &:nth-child(odd) {
            margin-top: px-to-rem(40);
        }

        &:nth-child(even) {
            margin-bottom: 40px;
        }
    }
}

.testimonial-wrapper {
    border-radius: 10px;
    border       : 1px solid rgba(255, 255, 255, 0.05);
    padding      : px-to-rem(40);
    position     : relative;
}

.testimonial-ratings {
    display   : flex;
    gap       : 3px;
    margin-top: 5px;

    i {
        @include flex(center, center, 0);
        font-size              : get-font-size(20);
        -webkit-text-fill-color: transparent;
        background             : linear-gradient(170deg, rgb(54, 99, 216) 0%, rgb(119, 190, 255) 100%) text;
    }
}

.testimonial-quote {
    position: absolute;
    right   : px-to-rem(20);
    top     : px-to-rem(15);

    img {
        display: inherit;
        width  : auto;
    }
}

.testimonial-content {
    font-size  : get-font-size(22);
    font-style : italic;
    line-height: px-to-rem(32);
    margin-top : px-to-rem(40);

    p {
        color: rgb(212, 214, 215);
    }
}

.testimonial-author {
    align-items: center;
    display    : flex;
    gap        : 15px;
    margin-top : 30px;
}

.author-info {
    .author-name {
        background             : linear-gradient(170deg, rgb(54, 99, 216) 0%, rgb(119, 190, 255) 100%) text;
        font-size              : get-font-size(22);
        line-height            : px-to-rem(32);
        -webkit-text-fill-color: transparent;
    }
}

/** end section services */

/** start section team */
.team {
    padding-bottom: px-to-rem(40);

    @include devices-large-screens {
        padding-bottom: px-to-rem(120);
    }
}

.team-container {
    padding-top: px-to-rem(60);
}

.team-boxs {
    display              : grid;
    gap                  : px-to-rem(30);
    grid-template-columns: 1fr;

    @include devices-large-screens {
        grid-template-columns: repeat(4, 1fr);
    }

    @include devices(l) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include devices(t) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mobile-landscape {
        grid-template-columns: repeat(2, 1fr);
    }
}

.team-item {
    position: relative;
    z-index : 1;
}

.team-img {
    border-radius: 8px;
    height       : 420px;
    margin-bottom: px-to-rem(20);
    overflow     : visible;
    position     : relative;

    img {
        height    : 100%;
        object-fit: cover;
        transform : scale(1);
        transition: all .8s ease-in-out;
    }

    @include hover() {

        .image-overlay {
            opacity: 1;
        }
    }
}

.image-overlay {
    background   : linear-gradient(180deg, rgba(0, 56, 255, 0) 40%, rgba(0, 56, 255, 0.7) 80%);
    border-radius: 8px;
    bottom       : 0;
    content      : "";
    left         : 0;
    opacity      : 0;
    position     : absolute;
    right        : 0;
    transition   : all .8s ease-in-out;
    top          : px-to-rem(50);
    text-align   : center;
    z-index      : 1;

    @include hover {
        opacity: 1;
    }
}

.team-social {
    bottom    : -30px;
    position  : absolute;
    right     : 20px;
    transition: all .4s ease-in-out;
    z-index   : 99;

    ul {
        align-items   : flex-end;
        bottom        : 120%;
        display       : flex;
        flex-direction: column-reverse;
        gap           : 10px;
        opacity       : 0;
        position      : absolute;
        right         : 0;
        transition    : all .4s ease-in-out;
        visibility    : hidden;

        li {
            margin-right: 7px;

            a {
                @include flex(center, center, 0);
                background       : rgb(255, 255, 255);
                border-radius    : 100px;
                color            : rgb(143, 145, 171);
                //height         : 46px;
                overflow         : hidden;
                padding          : px-to-rem(10) px-to-rem(14);
                text-align       : center;
                transition       : all .4s ease-in-out;
                //width        : 46px;

                i {
                    height     : 26px;
                    line-height: 26px;
                    width      : 18px;
                }

                span {
                    font-size  : 0;
                    font-weight: 500;
                    line-height: px-to-rem(26);
                    transition : all .4s ease-in-out;
                }

                @include hover {
                    span {
                        font-size   : get-font-size(16);
                        margin-right: 4px;
                    }
                }
            }
        }
    }

    @include hover {
        ul {
            //bottom    : 130%;
            opacity   : 1;
            visibility: visible;
        }
    }
}

.share-icon {
    @include flex(center, center, 0);
    background-image: linear-gradient(60deg, rgb(54, 99, 216) -20%, rgb(119, 190, 255) 100%);
    border-radius   : 100%;
    border          : 7px solid get-color(pure-black);
    border-image    : initial;
    cursor          : pointer;
    height          : 60px;
    margin-top      : 0;
    transition      : all .4s ease-in-out;
    width           : 60px;

    img {
        height    : 20px;
        object-fit: cover;
        width     : 20px;
    }
}

.team-info {
    .team-title {
        @include russo-one-regular();
        @include apply-color(pure-white);
        display      : block;
        font-size    : get-font-size(26);
        line-height  : px-to-rem(34);
        margin-bottom: 5px;
        transition   : all .3s ease-in-out;

        @include hover {
            @include apply-color(sky-blue);
        }
    }
}

/** end section team */

/** start section blog */
.blog {
    padding-bottom: px-to-rem(40);

    @include devices-large-screens {
        padding-bottom: px-to-rem(80);
    }

    &-container {
        display              : grid;
        grid-template-columns: 1fr;
        gap                  : px-to-rem(30);

        @include devices-large-screens {
            grid-template-columns: repeat(3, 1fr);
        }

        @include devices(t) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &-item {
        @include apply-bg-color(pure-black);
        border       : 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        position     : relative;
        padding      : px-to-rem(40) px-to-rem(30);

        @include hover {
            &::before {
                opacity: 1;
            }

            .blog-image {
                transform: scale(1.1);
            }
        }

        &::before {
            background   : linear-gradient(to right, #3663D8, #77BEFF);
            bottom       : 3px;
            border-radius: inherit;
            content      : "";
            left         : 3px;
            margin       : -4px;
            opacity      : 0;
            position     : absolute;
            right        : 3px;
            top          : 0;
            transition   : all 0.3s ease-in-out;
            z-index      : -1;
        }
    }

    .post-data {
        margin-bottom: px-to-rem(15);
    }

    .post-title {
        font-size    : get-font-size(26);
        margin-bottom: px-to-rem(35);
    }

    .blog-post-image {
        overflow: hidden;

        @include hover {
            img {
                transform: scale(1.1);
            }
        }

        img {
            transform : scale(1);
            transition: all 0.3s ease-in-out;
        }
    }

    .blog-post-action {
        @include flex(center, space-between, 0);
        margin-top: px-to-rem(30);
    }

    .post-category {
        @include font-primary();
        font-weight   : 600;
        line-height   : px-to-rem(28);
        text-transform: uppercase;
    }

    .post-link {
        .btn-arrow {
            border: 1px solid rgba(255, 255, 255, 0.1);

            &::after {
                border: 1px solid rgba(255, 255, 255, 0.1);
            }

            img {
                height: 16px;
                width : 16px;
            }

            @include hover {
                border-color: get-color(sky-blue);

                &::after {
                    border-color: get-color(sky-blue);
                }

            }
        }
    }
}

/** end section blog */

/** start newsletter */
.newsletter {
    @include apply-bg-color(pure-black);
    padding : px-to-rem(40) 2%;
    position: relative;
    width   : 100%;
    z-index : 2;

    @include devices-large-screens {
        padding: px-to-rem(80);
    }

    &-title {
        @include russo-one-regular();
        color         : rgba(255, 255, 255, 0.03);
        font-size     : get-font-size(46);
        line-height   : normal;
        left          : 50%;
        position      : absolute;
        z-index       : -1;
        transform     : translate(-50%, -50%);
        text-transform: capitalize;
        top           : 50%;

        @include devices-large-screens {
            font-size: get-font-size(200);
        }

        @include devices(l) {
            //font-size: get-font-size(160);
        }

        @include devices(t) {
            font-size: get-font-size(120);
        }

        @include ipad-2-landscape {
            font-size: get-font-size(160);
        }

        @include mobile-landscape {
            font-size: get-font-size(90);
        }
    }

    form {
        max-width: 1200px;
        margin   : 0 auto;
        width    : 100%;
    }

    &-form-group {
        position: relative;

        input {
            background   : transparent;
            border-color : transparent;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            color        : rgb(255, 255, 255);
            outline      : none;
            font-size    : get-font-size(20);
            padding      : 30px 150px 30px 0px;
            position     : relative;
            transition   : all .3s ease-in-out;
            width        : 100%;

            @include devices-large-screens {
                padding: 30px 150px 30px 0px;
            }

            @include devices(t) {
                padding: 20px 0px;
            }

            @include devices-mobile {
                padding: 15px 0px;
            }

            &::placeholder {
                color: rgb(255, 255, 255);
            }

            &:focus {
                border-bottom-color: get-color(sky-blue);
            }
        }
    }

    .form-check {
        margin-top: 1rem;
    }

    .form-checkbox {
        @include prefix(appearance, none);
        background   : transparent;
        border-radius: 4px;
        border       : 1px solid get-color(pure-white);
        height       : 16px;
        position     : relative;
        width        : 16px;

        &:checked {
            border-color: transparent;

            &::before {
                @include flex(center, center, 0);
                background-image: linear-gradient(-55deg, #3663D8 2%, #77BEFF 56%, #00D1FF 99%);
                border-radius   : 4px;
                content         : "\f00c";
                color           : get-color(pure-white);
                font-size       : get-font-size(12);
                font-family     : "Font Awesome 6 Free";
                font-weight     : 700;
                height          : 16px;
                line-height     : 1;
                left            : 50%;
                position        : absolute;
                top             : 50%;
                transform       : translate(-50%, -50%);
                width           : 16px;
            }
        }
    }
}

/** end newsletter */

/** start section faq */
.faq {

    padding-bottom: px-to-rem(60);

    @include devices-large-screens {
        padding-bottom: px-to-rem(120);
    }

    &-wrapper {
        display              : grid;
        grid-template-columns: 1fr;

        @include devices-large-screens {
            grid-template-columns: 1fr 1fr;
            gap                  : 2rem;
        }
    }
}

/** end section faq */

/** start section contact */
.contact-bg {
    @include flex(center, center, 0);
    background-image     : url("../images/contact.webp");
    background-color     : rgb(37, 99, 173);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position  : center center;
    background-repeat    : no-repeat;
    background-size      : cover;
    flex-direction       : column;
    height               : 450px;
    width                : 100%;

    .container {
        text-align: center;
    }

    h2 {
        font-size: get-font-size(42);
    }
}

.contact {
    background    : get-color(pure-black);
    padding-bottom: px-to-rem(60);

    @include devices-large-screens {
        padding-bottom: px-to-rem(120);
    }

    .location-wrapper {
        display              : grid;
        grid-template-columns: 1fr;
        gap                  : 24px;
        width                : 100%;

        @include devices-large-screens {
            grid-template-columns: 1fr 1fr;
        }
    }

    .location-row {

        &:nth-child(2) {
            display              : grid;
            grid-template-columns: 1fr;
            gap                  : 24px;

            @include devices-large-screens {
                grid-template-columns: repeat(2, 1fr);
            }

            @include devices(t) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include mobile-landscape {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .location-item {
        @include flex(flex-end, center, 0);
        @include apply-bg-color(pure-black);
        border       : 1px solid rgba(255, 255, 255, 0.05);
        border-radius: 10px;
        min-height   : 410px;
        padding      : px-to-rem(10) px-to-rem(10);
        transition   : all 0.3s ease-in-out;

        @include hover {
            border-color: get-color(sky-blue);
        }

        @include devices-large-screens {
            padding: px-to-rem(20) px-to-rem(20);
        }
    }

    .location-inner {
        overflow: hidden;
    }

    .location-info {
        .city-imagem {
            img {
                object-fit: cover;
            }
        }

        .city-info {
            margin-top: px-to-rem(20);
        }

        .city-name {
            @include prefix(background-clip, text);
            background             : linear-gradient(60deg, rgb(54, 99, 216) -20%, rgb(119, 190, 255) 100%) text;
            margin-bottom          : px-to-rem(20);
            transition             : .3s ease-in-out all;
            -webkit-text-fill-color: transparent;
        }

        .city-location {
            display       : flex;
            flex-direction: column;
            gap           : px-to-rem(15);
        }

        .city-item {
            align-items: center;
            display    : flex;

            .icon {
                flex        : 0 0 auto;
                margin-right: px-to-rem(15);

                img {
                    height    : 100%;
                    object-fit: cover;
                    width     : 100%;
                }
            }
        }

        .city-label {
            font-size: get-font-size(15);
        }
    }
}

.contact-wrapper {
    padding-top: 60px;

    @include devices-large-screens {
        padding-top: 120px;
    }

    .column {
        &:nth-child(2) {
            text-align: right;

            .title {
                display: block;
            }
        }
    }
}

.contact-form {
    display              : grid;
    margin-top           : 2rem;
    margin-bottom        : 3rem;
    grid-template-columns: 1fr;
    gap                  : px-to-rem(12);

    @include devices-large-screens {
        grid-template-columns: repeat(2, 1fr);
        gap                  : px-to-rem(20);
    }

    @include devices(t) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mobile-landscape {
        grid-template-columns: repeat(2, 1fr);
    }

    &-item {

        input,
        textarea {
            @include font-primary();
            background   : transparent;
            border       : 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 6px;
            color        : get-color(light-silver);
            display      : block;
            font-size    : get-font-size(18);
            font-weight  : 400;
            margin-bottom: px-to-rem(20);
            outline      : none;
            position     : relative;
            padding      : px-to-rem(15) px-to-rem(20);
            transition   : border-color .3s ease-in-out;
            width        : 100%;

            &::placeholder {
                color: get-color(light-silver);
            }

            &:focus {
                color       : get-color(light-silver);
                border-color: get-color(sky-blue);
            }

            &:active {
                background: transparent;
            }
        }
    }
}

/** end section contact */