@use "../base/colors"as *;
@use "../base/mixins"as *;
@use "../base/typography"as *;
@use "../global/responsive"as *;
@use "../util/functions"as *;

.services-bg {
    background-image: url("../images/services-bg.webp");
}

.service-container {
    padding: 40px 2%;

    @include devices-large-screens {
        padding-bottom: 160px;
        padding-top   : 160px;
    }

    @include devices(t) {
        padding-bottom: 80px;
        padding-top   : 80px;
    }

    .row {
        display              : grid;
        grid-template-columns: 1fr;

        @include devices-large-screens {
            grid-template-columns: 1fr 2fr;
        }
    }

    .column {
        padding: 12px;
    }
}

.service-sidebar {
    //background: green;

    .widget {
        border       : 1px solid rgba($color: #ffffff, $alpha: 0.1);
        border-radius: 10px;
        padding      : px-to-rem(30);
        width        : 100%;

        &:not(:last-child) {
            margin-bottom: px-to-rem(60);
        }

        &-title {
            margin-bottom: px-to-rem(40);
        }
    }

    .categories-list {
        display       : flex;
        flex-direction: column;
        gap           : px-to-rem(25);

        li {
            a {
                @include apply-color(light-silver);
                border-bottom : 1px solid rgba($color: #ffffff, $alpha: 0.1);
                display       : block;
                padding-bottom: px-to-rem(25);
                transition    : all .5s ease-in-out;

                @include hover {
                    @include apply-color(sky-blue);
                    border-color: get-color(sky-blue);
                }
            }

            a.active {
                @include apply-color(sky-blue);
                border-color: get-color(sky-blue);
            }

            &:last-of-type {
                a {
                    border: none;
                }
            }
        }
    }

    .address-info-list {

        li {
            margin-bottom: px-to-rem(20);

            h3 {
                align-items: center;
                color      : rgb(212, 214, 215);
                display    : flex;
                font-weight: 500;
                font-size  : get-font-size(22);
                gap        : 10px;

                img {
                    height: 24px;
                    width : 24px;
                }
            }
        }
    }
}

.service-single {

    background: green;
    position  : absolute;

    .service-image {
        img {
            border-radius : 10px;
            vertical-align: middle;
        }
    }

    .service-content {
        margin-top: px-to-rem(48);

        @include devices-large-screens {
            padding-left: px-to-rem(48);
        }
    }

    .service-description {
        p {
            margin-bottom: 1rem;
        }
    }

    .service-list {
        padding: 1.5rem 0;

        ul {
            display       : flex;
            gap           : 10px 30px;
            flex-direction: inherit;
            flex-wrap     : wrap;
            width         : 100%;

            li {
                align-items: baseline;
                display    : flex;
                font-weight: 400;
                flex-shrink: 0;
                gap        : 15px;
                width      : calc(100% - 15px);

                @include devices-large-screens {
                    width: calc(50% - 15px);
                }

                @include devices(t) {
                    width: calc(50% - 15px);
                }

                img {
                    height: 15px;
                    width : 15px;
                }
            }
        }
    }

    .service-footer {
        padding-bottom: 3rem;
        padding-top   : 3rem;

        h3 {
            font-size: get-font-size(26);
        }

        .row {
            margin-top   : 2rem;
            margin-bottom: 2rem;
        }

        .service-list {
            li {
                width: 100%;
            }
        }
    }
}

.services-wrapper {
    position  : relative;
    background: orange;
    height    : auto;
}